



#prueba1{
    width: 33.33%;
    padding-left: 33.33%;
}
#prueba2{
    width: 33.33%;
    padding-right: 33.33%;
}
.imagen0{
    width: 100%;
    padding: auto;

}
.body{
    display: flex;
    width: 100%;

}