@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Scribble&display=swap');
body, html {
    margin: 0;
    padding: 0;
}

.contenedor-imagen {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.contenedor-imagen img {
    width: 100%;
    height: 900px; /* Establece la altura deseada */
    display: block;
    object-fit: cover; /* Para que la imagen mantenga su relación de aspecto */
}

.texto-encima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 80%;
}

.texto-encima h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.texto-encima p {
    font-size: 1.2em;
    margin-top: 0;
}

.contenedor-contenido {
    padding-left: 30.33%; /* Ajusta el espacio a la izquierda */
    padding-right: 30.33%; /* Ajusta el espacio a la derecha */
    padding-top: 20px; /* Añade un espacio en la parte superior */
}



.contenedor-contenido {
    font-family: "Montserrat", sans-serif;
    font-weight: 400; /* Puedes ajustar el peso de la fuente según tus necesidades */
}

#titulo2{
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;

}


.contenedor-negro {
    background-color: rgb(0, 0, 0); /* Color negro con opacidad */
    width: 100%;
    text-align: center;
    color: white;
}

.texto-negro {
    padding: 20px;
}

#row {
    width: 100%;
    border: 1px solid #000000;

    display: flex;
}

#col4{
    width: 25%;

}